@(title: String)(content: Html)(implicit user: User)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
    </head>
    <body>
        <header>
            Hello, @user.login 
            <a href="@routes.Application.listProjects()">Home</a>
            <a href="@routes.Admin.overview()">Admin</a>
            <a href="@routes.Auth.signout()">Sign Out</a>
            <br><br>
        </header>
	   	<div >
	        @content	        
	    </div>
    </body>
</html>
